.h1 {
    text-align: center;
    background-color: blue;
}

.ne{
    
    background-color: darkgrey;
    
}

.ne1{
    
    background-color: darkgrey;
    
}

.ne2{
    
    background-color: darkgrey;
    
}

.ne3{
    
    background-color: darkgrey;
    font-family: monospace;
     
}

.ne4{
    
    background-color: darkgrey;
    font-family: monospace;
     
}